<footer class="page-footer">
  <div class = "body">
    <div class="group">
      <div class="link">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/facilities">Facilities</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class = "group">
      <div class = "non-link">
        <div class = "phone">
          <a>(650) 814-4400</a>
        </div>
        <div class = "copyright">
          <a>Maycare 2020</a>
        </div>
      </div>
    </div>  
  </div>

</footer>