a {
    padding-left: 5px;
}

.page-footer {

    background-color: rgba(172, 172, 172, 0.315);
    
}


.row {
    float: right;
}

@media (min-width: 48em) {

    a {
        padding-left: 50px;
    }
    
    #links ul {

        list-style: none;
        display: inline-block;
        

    }

    .page-footer {

        background-color: rgba(172, 172, 172, 0.315);

    }
}


      