<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div id="links">
        
          <a class="grey-text text-lighten-3" href="/">Home</a>
          <a class="grey-text text-lighten-3" href="/about">About</a>
          <a class="grey-text text-lighten-3" href="/facilities">Facilities</a>
          <a class="grey-text text-lighten-3" href="/contact">Contact</a>
        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Maycare
    </div>
  </div>
</footer>