<body> 

  

  <!--carousel here with pics from mundell-->

  <app-carousel></app-carousel>
  <div class="line"></div>



  <div class="introduction">
      <h1> 
        Facilities
      </h1>
      <ul>
        <li>Staffed by professional caregivers with years of experience</li>
        <li>Minumum of two staff on duty 24 hours a day</li>
        <li>Meals prepared daily on premises</li>
        <li>Flexible menu prepared to suit resident's tastes</li>
        <li>Hairdresser and barber service on premises</li>
        <li>Fresh linen and laundry service</li>
        <li>Experienced in taking care of residents with Alzheimers, Huntington's, and Parkinson's DIseases</li>
        <li>We cater to ambulatory and non-ambulatory residents</li>
    
      </ul>
    </div>

<div class="losaltoshome">
  <h1>
    Los Altos Home
  </h1>
  <h2>
      431 Mundel Way, Los Altos, CA.
  </h2>
  <h3>
      CA State Lic #: 435200238
  </h3>

    <ul>
        <li>Rooms for 6 residents</li>
        <li>Quiet, peaceful neighborhood</li>
        <li>Sitting Room and living/activity room</li>
        <li>Outdoor patio for fresh air and relaxation on sunny days</li>
        <li>Quiet healthy environment</li>
        <li>Home designed to be handicap accessible</li>
    </ul>

</div>  

  <div class="paloaltohome">
    <h1>
      Palo Alto Home
    </h1>
    <h2>
        3835 Mumford Place, Palo Alto, CA. 
    </h2>
    <h3>
        CA State License #: 430708851
    </h3>
      <ul>
          <li>Rooms for 6 residents</li>
          <li>Located on quiet street in a great neighborhood</li>
          <li>Living/TV room with piano</li>
          <li>Dining room</li>
          <li>Daily activities to keep the mind and body healthy</li>
          <li>Spacious backyard for fresh air and relaxation</li>
          <li>Home designed for easy handicap access</li>
      </ul>
  </div>

</body> 

<app-footer></app-footer>

