/*mObIlE fIRsT*/

body { 
    
    padding-top: 80px;
    
    
    h1 {
        font-size: 18px;
        padding-left: 0%;
        padding-right: 0%;
        animation: fadein 2s;
    }

    h2 {
        animation: fadein 3s;
        font-size: 14px;
        padding-left: 0%;
        padding-right: 0%;
    }

    h3 {
        font-size: 10px;
        padding-left: 0%;
        padding-right: 0%;
    }

    ul {
        animation: fadein 4s;
        margin-left: 0%;
        margin-right: 0%;
    }


    img {
        width: 100%;
        padding-top: 0%;   
        animation: fadein 2s;    
    
}
  
    
    /*Desktop view mobile first */
    @media only screen and (min-width: 800px)  {



        img {
            width: 100%;
            padding-top: 0%;   
            animation: fadein 2s;    
        
        }

        .imagedisplay {
            float: right;
            height: 200px;
            width: 200px;
            padding-right: 20%;
            color: gray;
        }

        .introduction {
            margin: 0;
            align-self: auto;
        }

        .losaltoshome {
            padding-left: 200px;
        }

        .paloaltohome { 
            padding-left: 200px;
        }
        


        h1 {
            font-size: 18px;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 10px;
            
        }

        h2 {
            font-size: 14px;
            padding-left: 2%;
            padding-right: 2%;
            
        }

        h3 {
            font-size: 10px;
            padding-left: 2%;
            padding-right: 2%;
        }

    }
}

.line {
    background-color: #00d9ff;
    height: 8px;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    width: 1px;
    animation: initialize 2s ease-in forwards;

}

@keyframes initialize {
    0% {
        width: 0%;
        opacity: 1;
    }

    100% {
        width: 80%;
        opacity: 0;
    }
}

@keyframes fadein {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}