body {
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 280px;

}

a {
    text-decoration: none;
}

.col-md-5{
    margin: 0 auto;
    padding-top: 100px;
}

app-footer { 
    
    bottom: 0px;
    width: 100%
}

@media (min-width: 800px) {

    app-footer{
        bottom: 0px;
        width: 100%;
        
    }

    body {
        padding-bottom: 30%;
    }

}